.navbar {
    height: 11vh;
    background-color: #275e74!important;
    width: 100%;
    margin-bottom: 50px;

}
.navbar-brand{
    margin-left: 38%;
}

.navbar .container-fluid {
    height: 100%;
    display: flex;
    align-items: center;
}

.container-fluid .navbar-brand {
    color: whitesmoke;

    /* margin-right: 64%; Increase the right margin to create space between navbar-brand elements */
}

.navbar .navbar-nav .nav-link {
    color: whitesmoke;
    font-size: 20px;
}
.navbar .navbar-nav .nav-item {
    margin-right: 30px; /* Increase the right margin to create space between navbar items */
}
.navbar-brand{
    margin-bottom: 10px;

}